{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}
    <div{{ inner_attributes|default }}>
        {% for fragment in nested_fragments %}
            {{ content_element(fragment) }}
        {% endfor %}
    </div>
{% endblock %}