{% extends "@Contao/content_element/_base.html.twig" %}

{% block inner %}
    {% block image %}{% endblock %}
    {% block link %}
        <a{{ link_attributes|default }}>{% block text %}<span>{{ text|default('Logo') }}</span>{% endblock %}</a>
    {% endblock %}
{% endblock %}
